.search-button.loading-search-button {
  background-color: var(--color-primary);
  color: var(--color-text);
  cursor: wait;
  animation: change-size 2s linear infinite;
}

@keyframes change-size {
  0%,
  20% {
    transform: scale(1);
  }
  25%,
  45% {
    transform: scale(1.1);
  }
  50%,
  75% {
    transform: scale(1.2);
  }
  80%,
  100% {
    transform: scale(1.1);
  }
}
