.search-button.search-button__retry {
  background-color: var(--color-error);
  color: var(--color-text);
}

.search-button.search-button__retry:hover {
  background-color: var(--color-error-strong);
  transform: scale(1.1);
}

.search-button.search-button__retry:active {
  transform: scale(0.9);
}
