.search-bar {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  margin: var(--spacing-sm) auto;
  width: 100%;
}

.search-bar__textbox,
.search-bar__button {
  width: 100%;
}

.search-bar__button {
  display: flex;
}

.search-bar__button .search-button {
  width: 100%;
}

@media (min-width: 1024px) {
  .search-bar {
    width: 60%;
    flex-direction: row;
  }

  .search-bar__textbox {
    flex: 6 1 0;
    min-width: 0;
  }

  .search-bar__button {
    flex: 1 0 0;
  }
}
