.search-button.search-button__ready {
  background-color: var(--color-primary);
  color: var(--color-text);
}

.search-button.search-button__ready:hover {
  transform: scale(1.1);
}

.search-button.search-button__ready:active {
  transform: scale(0.9);
}
